<footer class="footer-custom text-center ">
    <div class="container-fluid ">
        <p>&copy; <%= new Date().getFullYear(); %> Bloggy. All rights reserved.</p>
        <p>
            <a href="/">Privacy Policy</a> | 
            <a href="/">Terms of Service</a>
        </p>
        <p>
            <a href="https://www.facebook.com"><ion-icon name="logo-facebook" size="large"></ion-icon></a> 
            <a href="https://twitter.com"><ion-icon name="logo-twitter" size="large"></ion-icon></a>  
            <a href="https://www.instagram.com"><ion-icon name="logo-instagram" size="large"></ion-icon></a>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</footer>


</body>



</html>