
<%- include("partials/header.ejs") %>
    <main class=" container-fluid flex-grow-1 d-flex align-items-center justify-content-center">

        <div class="container-sm flex-grow-1 d-flex align-items-center justify-content-center ">
            <div class="row  row-custom">
                <div class="col  text-center main-text text-wrap">
                    <p >Create Your Own Blog For Thousands To Read Now</p>
                    <a href="/create" class="btn btn-primary btn-lg col-lg-3 main-btn" tabindex="-1" role="button" aria-disabled="true">CREATE</a>
                </div>
            </div>
        </div>
    </main>
    


<%- include("partials/footer.ejs") %>
