<%- include("partials/header.ejs") %>
    <main class="container-fluid flex-grow-1 d-flex justify-content-center text-wrap ">
        <div class="container justify-content-center align-items-center text-center reading-area text-wrap ">
                <div class="form-container reading-form container-fluid justify-content-center  align-items-center text-center text-wrap ">
                    <h1  class="title-read text-break"><%= title %></h1>
                    <p class="text-break px-lg-4 px-md-4"> <%= story %></p>
                </div>
    </div>
    </main>
<%- include("partials/footer.ejs") %>